---
title: About
---

<main class="about">
  <div class="about__me">
    <header class="about__header">How are you?</header>
    {% for data in site.data.about_me %}
    <p class="about__body">{{ data.text }}</p>
    {% endfor %}
    <p class="about__body">Hope we can meet again!</p>
  </div>
  <div class="about__social">
    {% for social_profile in site.data.social_profiles %}
    <a href="{{ social_profile.link }}" target="_blank">
      <div class="about__social__item">
        <img
          class="about__social__logo"
          src="assets/svg/brand-{{ social_profile.name | downcase }}.svg"
        />
        <header>{{ social_profile.name | capitalize }}</header>
        <p class="about__social__text">{{ social_profile.description }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</main>
