.about {
  @include layout;
}

.about__me {
  width: 55%;
}

.about__me__body {
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
}

.about__me__header {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: bold;
}

.about__social {
  display: grid;
  gap: 2.5rem;
  margin-top: 5rem;

  grid-template-columns: repeat(3, auto);

  @media all and (max-width: 680px) {
    grid-template-columns: repeat(1, auto);
  }
}

.about__social__item {
  border: var(--border);
  padding: 2.5rem 2rem;
}

.about__social__logo {
  display: block;
  height: 2rem;
  max-width: 100%;
  width: 2rem;
}

.about__social__text {
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
}
