.about__header {
  margin: 0;
}

.about__body {
  font-size: larger;
  text-align: justify;
}

.about__social {
  display: grid;
  gap: 3vw;
  grid-auto-rows: minmax(auto, auto);
  grid-template-columns: repeat(2, auto);
  margin-top: 10vh;
}

.about__social__item {
  padding: $border-content-padding;

  @include border;
}

.about__social__logo {
  $size: 35px;

  display: block;
  height: $size;
  padding-bottom: 3vh;
  width: $size;
}

.about__social__text {
  font-size: medium;
  font-weight: 400;
  text-align: justify;
}
