.about {
  @include padding-content-large;

  &__ {
    &header {
      margin: 0;
    }

    &body {
      font-size: larger;
      text-align: justify;
    }

    &social {
      @include grid-by-2;
      margin-top: 10vh;

      &__ {
        &item {
          padding: 4vh;

          @include border;
          @include transition-box-shadow;
        }

        &logo {
          $size: 35px;

          display: block;
          height: $size;
          padding-bottom: 3vh;
          width: $size;
        }

        &text {
          font-size: medium;
          font-weight: 400;
          text-align: justify;
        }
      }
    }
  }
}
