.articles {
  @include layout;
}

.articles__posts {
  display: grid;
  gap: 5rem;

  @include media-grid-columns($cols: 2, $max-width: 1050px);
}

.articles__post:first-child {
  font-size: 1.6rem;
  text-align: center;
  grid-column: 1 / 3;

  @media all and (max-width: 1050px) {
    font-size: 1rem;
    text-align: left;
    grid-column: 1;
  }
}

.articles__post__img {
  height: 500px;
  width: 100%;
  object-fit: cover;

  @include responsive-image;
}

.articles__post__header {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}
