.article {
  max-width: 600px;

  @include layout($padding-top-bottom: 3rem);
}

.article__header {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.article__source,
.article__date {
  margin-bottom: 1rem;
}

.article__date {
  font-weight: 600;
}

.article__source__url,
.article__image__credit {
  text-decoration-line: underline;
}

.article__source__author {
  font-style: italic;
}

.article__image {
  margin: 3rem 0;
}

.article__image__file {
  margin-bottom: 0.2rem;
  max-width: 100%;
}

.article__image__credit {
  display: block;
}

.article__content {
  line-height: 1.5rem;
  text-align: justify;
}

.article__footer {
  border: var(--border);
  font-size: 0.85rem;
  margin-top: 5rem;
  padding: 2rem;
  text-align: center;
}
