.articles {
  @include layout-content;
}

.articles__posts {
  @include grid-items;
}

.articles__post:first-child {
  font-size: 1.5rem;

  @include grid-responsive;
}

.articles__post__img {
  @include grid-responsive-image;
}

.articles__post__header {
  font-family: "Playfair Display", serif;
  font-weight: 6 00;
  margin: 5px 0;
}
