.article {
  max-width: 600px;

  @include layout($padding-top-bottom: 3rem);
}

.article__header {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.article__source {
  margin-bottom: 1rem;
}

.article__date {
  font-weight: 600;
  margin-bottom: 1rem;
}

.article__source__url {
  text-decoration-line: underline;
}

.article__source__author {
  font-style: italic;
}

.article__image {
  margin: 3rem 0;
}

.article__image__file {
  margin-bottom: 0.2rem;

  @include image-responsive($explicit-height: false);
}

.article__image__credit {
  @include image-credit;
}

.article__content {
  line-height: 1.5rem;
  text-align: justify;
}

.article__footer {
  margin-top: 10rem;
}

.article__footer__tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  justify-content: space-between;
  margin: 0 2rem;
}

.article__footer__divider {
  background-color: var(--color-primary);
  height: 1px;
  margin: 1rem 0;
}

.article__footer__note {
  font-size: 0.8rem;
  margin: 0 2rem;
  text-align: center;
}
