.contact__main {
  @include padding-content;
}

.contact__main__header {
  font-size: 50px;
  font-weight: 800;
  padding: 40px 30px;
  text-align: center;
}

.contact__main__email {
  text-decoration: underline;
}

.contact__main__others {
  font-size: 25px;
  padding: 40px 0 20px;
}

.contact__main__social {
  display: grid;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(3, 1fr);
}

.contact__main__social * {
  background-color: red;

}
