.heading {
  @include layout;
}

.heading__text {
  display: block;
  font-size: 4rem;
  font-weight: 600;
}

.heading__tagline {
  display: block;
  font-size: 1.7rem;
  font-style: italic;
}

.heading__contact {
  border: var(--border);
  float: left;
  font-size: 1.2rem;
  padding: 1rem 1.2rem;

  @include link-hover;
}
