.heading__text {
  display: block;
  font-size: 65px;
  font-weight: 600;
}

.heading__tagline {
  display: block;
  font-size: x-large;
  font-style: italic;
  padding: 5vh 0;
}

.heading__contact {
  float: left;
  font-size: larger;
  padding: 2vh;

  @include border;
  @include link-hover;
}
