.homepage {
  @include padding-content;

  &__ {
    &text {
      display: block;
      font-size: 65px;
      font-weight: 600;
    }

    &tagline {
      display: block;
      font-size: x-large;
      font-style: italic;
      padding: 5vh 0;
    }

    &contact {
      float: left;
      font-size: larger;
      padding: 2vh;

      @include border;
      @include transition-box-shadow;
    }
  }
}
