// Definitions only: native selectors, custom font, and SASS mixins.

@font-face {
  font-family: "Readex Pro";
  src: url("/assets/fonts/ReadexPro.ttf");
}

@font-face {
  font-family: "Playfair Display";
  src: url("/assets/fonts/PlayfairDisplay.ttf");
}

:root {
  --color-primary: #110903;
  --color-accent: #f6dd28;
  --color-error: #ed0312;
  --color-tertiary: #3b28b8;
  --color-offset: #f4fffd;

  --border: 1px solid var(--color-primary);

  background-color: var(--color-accent);
  color: var(--color-primary);
  font-family: "Readex Pro", sans-serif;
  height: 100%;

  ::selection {
    color: var(--color-accent);
    background-color: var(--color-primary);
  }
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

body {
  margin: 0;
  padding: 0;
}

@mixin grid-items-by-2 {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, auto);

  @media all and (max-width: 1050px) {
    grid-template-columns: repeat(1, auto);
  }
}

@mixin grid-responsive {
  grid-column: 1 / 3;

  @media all and (max-width: 1050px) {
    font-size: 1rem;
    grid-column: 1;
  }
}

@mixin layout($padding-top-bottom: 5rem, $width: 80vw) {
  margin: 0 auto;
  padding: $padding-top-bottom 0;
  width: $width;
}

@mixin link-hover {
  @media screen and (prefers-reduced-motion: no-preference) {
    transition: 25ms cubic-bezier(0.75, 0.46, 0.52, 0.85);
  }

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-accent);
  }
}

@mixin responsive-image($explicit-height: true) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;

  @media all and (max-width: 950px) {
    min-height: 300px;
    max-height: 500px;
  }

  @if $explicit-height {
    @media all and (min-width: 950px) {
      height: 500px;
    }
  }
}
