// This file must only contain definitions that are short. About 20 lines or less.

.placeholder {
  text-align: center;

  &__ {
    &emote {
      font-size: 100px;
    }

    &text {
      font-size: xx-large;
    }
  }
}
