@mixin padding-global {
  padding: 25px 40px;
}

@font-face {
  font-family: "Bungee Shade";
  src: url("/assets/fonts/BungeeShade.ttf");
}

@font-face {
  font-family: "Libre Barcode 39 Extended Text";
  src: url("/assets/fonts/LibreBarcode39ExtendedText.ttf");
}

@font-face {
  font-family: "Readex Pro";
  src: url("/assets/fonts/ReadexPro.ttf");
}

:root {
  --color-primary: #110903;
  --color-accent: #f6dd28;
  --color-error: #ed0312;
  --color-tertiary: #3b28b8;
  --color-offset: #f4fffd;

  background-color: var(--color-accent);
  font-family: "Readex Pro";
  height: 100%;
  user-select: none;

  body {
    margin: 0;
    padding: 0;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  text-decoration: underline var(--color-primary) 3px;
}
