.navbar {
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;
  padding: 5vh 10%;
}

.navbar__logo {
  height: 50px;
  width: 50px;
}

.navbar__link {
  font-size: x-large;
  margin-left: 1.5rem;
  padding: 0.5rem 1rem;

  @include link-hover;
}
