.navbar {
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;
  padding: 2rem 10%;
}

.navbar__logo {
  height: 50px;
  min-width: 50px;
  max-width: 100%;
  width: 50px;
}

.navbar__links {
  align-items: center;
  display: flex;
}

.navbar__link {
  font-size: 1.5rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem;

  @include link-hover;
}
