.works {
  @include padding-content-large;

  display: grid;
  gap: 10vh;

  &__ {
    &item {
      @include border;
      @include transition-box-shadow;

      &__ {
        &text {
          padding: $border-content-padding;
          display: flex;
          justify-content: space-between;

          &__ {
            &name {
              font-size: 24px;
            }

            &category {
              font-size: 24px;
            }
          }
        }

        &img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
