.works {
  @include padding-content;

  &__ {
    &items {
      @include grid-by-2;
    }

    &item {
      padding: 4vh;

      @include border;
      @include transition-box-shadow;

      &__ {
        &name {
        }

        &category {
        }

        &img {
          display: block;
          height: 100px;
          width: 100px;
        }
      }
    }
  }
}
