.appbar__nav {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;

  @include padding-global;
}

.appbar__nav__logo {
  $size: 35px;

  height: $size;
  width: $size;
}

.appbar__nav__item {
  $duration: 250ms;

  border-radius: 12px;
  font-size: 26px;
  margin-left: 35px;
  padding: 10px;

  transition: background-color $duration, color $duration;
}

.appbar__nav__item:hover {
  background-color: var(--color-primary);
  color: var(--color-accent);
  text-decoration-line: none;
}
