.appbar__nav {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;

  @include padding-global;
}

.appbar__nav__logo {
  $size: 35px;

  height: $size;
  width: $size;
}

.appbar__nav__item {
  font-size: 26px;
  margin-left: 50px;
}
