---
layout: default
---

<section class="article">
  <section>
    <header class="article__header">{{ page.title }}</header>

    <section class="article__source">
      <a
        class="article__source__url"
        target="_blank"
        href="{{ page.source.url }}"
      >
        {{ page.source.title }} {% if page.source.author %}
        <span class="article__source__author">by</span> {{ page.source.author }}
        {% endif %}
      </a>
    </section>

    <section class="article__date">
      {% if page.date_posted %} {{ page.date | date_to_string }} {% endif %}
    </section>

    <section class="article__image">
      <img
        src="/assets/img/posts/{{ page.image.file }}"
        class="article__image__file"
        alt="Article image"
      />
      {% if page.image.credit %}
      <a
        href="{{ page.image.credit.url }}"
        target="_blank"
        class="article__image__credit"
      >
        Photo by {{ page.image.credit.name }}
      </a>
      {% endif %}
    </section>
  </section>

  <main class="article__content">{{ content }}</main>

  <footer class="article__footer">
    {% if page.footer %}
    <p>{{ page.footer }}</p>
    {% else %}
    <p>{{ site.article_footer }}</p>
    {% endif %}
  </footer>
</section>
