---
layout: default
---

<article class="article">
  <section>
    <header class="article__header">{{ page.title }}</header>

    <section class="article__source">
      <a
        class="article__source__url"
        href="{{ page.source.url }}"
        target="_blank"
      >
        {{ page.source.title }} {% if page.source.author %}
        <span class="article__source__author">by</span> {{ page.source.author }}
        {% endif %}
      </a>
    </section>

    <span class="article__date">{{ page.date | date_to_string }}</span>

    <section class="article__image">
      <img
        alt="{{ page.image.alt }} article image"
        class="article__image__file"
        src="/assets/img/posts/{{ page.image.file }}"
      />
      {% if page.image.credit %}
      <a
        class="article__image__credit"
        href="{{ page.image.credit.url }}"
        target="_blank"
      >
        Photo by {{ page.image.credit.name }}
      </a>
      {% endif %}
    </section>
  </section>

  <main class="article__content">{{ content }}</main>

  <footer class="article__footer">
    <section class="article__footer__tags">
      {% for tag in page.tags %}
      <span>{{ tag | upcase }}</span>
      {% endfor %}
    </section>

    <div class="article__footer__divider"></div>

    {% if page.footer %}
    <p class="article__footer__note">{{ page.footer }}</p>
    {% else %}
    <p class="article__footer__note">{{ site.article_footer }}</p>
    {% endif %}
  </footer>
</article>
