---
---

<!-- 
  Hi, thanks for inspecting or viewing the source of my personal website.

  The complete source code is at https://github.com/franthormel/franthormel.github.io

  You can download, copy, and edit the content and use it as your own. 
  Just change the values in the _config.yml file. 
  
  Bye!👈(⌒▽⌒)👉
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if page.title %} {{ page.title | capitalize }} {% else %} Franthormel
      {% endif %}
    </title>
    <link
      rel="icon"
      href="assets/img/svg/logo-light.svg"
      type="image/svg+xml"
    />
    <link rel="stylesheet" href="assets/css/styles.css" />
    {% seo %}
  </head>
  <body>
    {% include navbar.html %} {{ content }}
  </body>
</html>
