---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if page.title %} {{ page.title | capitalize }} {% else %} Franthormel
      {% endif %}
    </title>
    <link rel="icon" href="assets/logo-light.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="assets/css/styles.css" />
  </head>
  <body class="body">
    <nav class="body__navbar">
      <a href="/">
        <img
          class="body__navbar__logo"
          src="assets/logo-dark.svg"
          aria-label="Franthormel"
          alt="Franthormel"
        />
      </a>
      <aside>
        {% for route in site.data.routes %}
        <a class="body__navbar__item" href="{{ route.link }}">
          {{ route.name }}
        </a>
        {% endfor %}
      </aside>
    </nav>
    {{ content }}
  </body>
</html>
